<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mt-3">
    <div class="">
      <button pButton pRipple type="button" class="p-button-success">
        <a class="nav-link text-light" routerLink="/recipes/new">New Recipe</a>
      </button>
    </div>
    <ng-container *ngIf="listRecipe.length > 0">
      <app-dropdown [listRecipe]="listRecipe"></app-dropdown>
    </ng-container>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mt-3">
    <router-outlet></router-outlet>
  </div>
</div>
